<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Import Excel to mongoDB</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./css/style.css">   
    </head>

    <body onload="hideData()">

      <h1>Add From <span style="color:#ff0266">Excel</span></h1>
      <br>

      <center>
        <div class="Section">
            <div class="topic">
                <h3>Add Candidates to Database</h3>
            </div>
            <div class="box gradient-border" id="#box">
                <br>
                <form action="/upload" enctype="multipart/form-data" method="post">
                    <div class="wrapper">
                        <div class="file-upload">
                            <input type="file" id="file" name="uploadfile" title="Upload .xlsx or .xls file" onchange="return fileValidation()" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' >
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </div>
                    <p id="error" style="color:red">Oops! Invalid file format.</p>
                    <div id="button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                <p id="inf">Upload a .xlsx or .xls file here</p>
            </div>
        </div>
    </center>

    <script>
        function hideData(){
            document.getElementById("error").style.visibility="hidden";
            document.getElementById("button").style.visibility="hidden";
        }
        function fileValidation() {
            var fileInput = document.getElementById('file');
            var filePath = fileInput.value;

            // Allowing file type
            var allowedExtensions = /(\.xlsx|\.xls)$/i;

            if (!allowedExtensions.exec(filePath)) {
                document.getElementById("error").style.visibility="visible";
                document.getElementById("inf").style.visibility="hidden";
                fileInput.value = '';
                return false;
            } 
            else 
            {
                document.getElementById("button").style.visibility="visible";
                document.getElementById("error").style.visibility="hidden";
                document.getElementById("inf").style.visibility="hidden";
            }
        }
    </script>

    </body>
</html>