<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Successfully Import</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/style.css">   
    </head>

    <body>

      <h1>Add From <span style="color:#ff0266">Excel</span></h1>
      <br>

      <center>
        <div class="Section">
            <div class="topic">
                <h3>Add Candidates to Database</h3>
            </div>
            <div class="box gradient-border" id="#box">
                <br>
                <h4>Thank You! </h4>
                <img src="image/tick.jpg">
                <span style="font-size: 30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">File Upload Successfully</span>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Your Record will be process shortly</p>
            </div>
        </div>
    </center>

    </body>
</html>